{{#hasTitle}}
	<h2>{{title}}</h2>
{{/hasTitle}}

{{#content}}
	{{{.}}}
{{/content}}

{{#hasImages}}
	<ul class="grid-f">
		{{#images}}
			<li class="grid__item flex-1-2 image-control-wrap js-image-control">
				<img src="{{.}}" class="image-control js-image" />
			</li>
		{{/images}}
	</ul>
{{/hasImages}}

{{#sections}}
	<div>
		{{#hasTitle}}
			<h3>{{title}}</h3>
		{{/hasTitle}}

		<div>
			{{#content}}
				{{{.}}}
			{{/content}}

			{{#hasImages}}
				<ul class="grid-f">
					{{#images}}
						<li class="grid__item flex-1-2 image-control-wrap js-image-control">
							<img src="{{.}}" class="image-control js-image" />
						</li>
					{{/images}}
				</ul>
			{{/hasImages}}

			{{#subsections}}
				<div>
					{{#hasTitle}}
						<h4>{{title}}</h4>
					{{/hasTitle}}

					<div>
						{{#content}}
							{{{.}}}
						{{/content}}

						{{#hasImages}}
							<ul class="grid-f">
								{{#images}}
									<li class="grid__item flex-1-2 image-control-wrap js-image-control">
										<img src="{{.}}" class="image-control js-image" />
									</li>
								{{/images}}
							</ul>
						{{/hasImages}}
					</div>
				</div>
			{{/subsections}}
		</div>
	</div>
{{/sections}}
