input, select, textarea {
	display: inline-block;
	width: 200px;
	max-width: 100%;
	padding: 10px 15px;
}

textarea {
	vertical-align: top;
}

input[type="radio"], input[type="checkbox"] {
	width: auto;
}

input[type="color"] {
	width: 30px;
	height: 30px;
	border: 0;
	padding: 0;
}

.form__error {
	color: $form-error;
}