@import "shapes";

%cf {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin border-inset ($width, $colour) {
	box-shadow: inset 0 0 0 $width $colour;
}

.hidden {
	display: none;
}

.mar-top-0 {
	margin-top: 0;
}

.mar-bot-0 {
	margin-bottom: 0;
}