{{#years}}
	<div class="js-calendar-year">
		<ol class="calendar">
			<div class="calendar__month">
				<h3 class="calendar__year-num">{{num}}</h3>
			</div>

			<div class="calendar__month calendar__month--spring js-calendar-month"></div>
			<div class="calendar__month calendar__month--spring js-calendar-month"></div>
			<div class="calendar__month calendar__month--spring js-calendar-month"></div>
			<div class="calendar__month calendar__month--summer js-calendar-month"></div>
			<div class="calendar__month calendar__month--summer js-calendar-month"></div>
			<div class="calendar__month calendar__month--summer js-calendar-month"></div>
			<div class="calendar__month calendar__month--autumn js-calendar-month"></div>
			<div class="calendar__month calendar__month--autumn js-calendar-month"></div>
			<div class="calendar__month calendar__month--autumn js-calendar-month"></div>
			<div class="calendar__month calendar__month--autumn js-calendar-month"></div>
			<div class="calendar__month calendar__month--winter js-calendar-month"></div>
			<div class="calendar__month calendar__month--winter js-calendar-month"></div>
			<div class="calendar__month calendar__month--winter js-calendar-month"></div>

			<div class="calendar__month"></div>
		</ol>
	</div>
{{/years}}