<div class="js-calendar-year">
	<h3>{{num}}</h3>

	<ol class="calendar">
		<div class="calendar__month"></div>

		<div class="calendar__month calendar__month--spring js-calendar-month"></div>
		<div class="calendar__month calendar__month--spring js-calendar-month"></div>
		<div class="calendar__month calendar__month--spring js-calendar-month"></div>
		<div class="calendar__month calendar__month--summer js-calendar-month"></div>
		<div class="calendar__month calendar__month--summer js-calendar-month"></div>
		<div class="calendar__month calendar__month--summer js-calendar-month"></div>
		<div class="calendar__month calendar__month--autumn js-calendar-month"></div>
		<div class="calendar__month calendar__month--autumn js-calendar-month"></div>
		<div class="calendar__month calendar__month--autumn js-calendar-month"></div>
		<div class="calendar__month calendar__month--autumn js-calendar-month"></div>
		<div class="calendar__month calendar__month--winter js-calendar-month"></div>
		<div class="calendar__month calendar__month--winter js-calendar-month"></div>
		<div class="calendar__month calendar__month--winter js-calendar-month"></div>

		<div class="calendar__month"></div>
	</ol>
</div>