<input type="text" placeholder="Filter" class="js-section-filter-query" />

{{#sections}}
	<div class="js-section-filter-section">
		<h2>{{title}}</h2>

		<div class="grid-f">

			{{#sounds}}
				<div class="grid__item flex-1 flex-md-1-2 flex-l-1-3 js-soundboard-item js-section-filter-item">
					<span class="soundboard__title js-section-filter-title">{{title}}</span>
					<div class="soundboard__sound-wrap" style="background-image: url('{{image}}');">
						<a href="{{href}}" target="_blank" class="soundboard__sound js-soundboard-link" {{#repeat}}data-soundboard-repeat="true"{{/repeat}}{{#hasVolume}} data-soundboard-volume="{{volume}}"{{/hasVolume}}>

							{{^calibrated}}
								<span class="soundboard__sound-uncalibrated" title="Uncalibrated"></span>
							{{/calibrated}}

							<div class="soundboard__sound-body">
								{{#hasDescription}}
									<span class="soundboard__description">{{description}}</span>
								{{/hasDescription}}

								<ul class="hidden">
									<li class="js-section-filter-tag">{{sectionTitle}}</li>
									{{#tags}}
										<li class="js-section-filter-tag">{{.}}</li>
									{{/tags}}
								</ul>
							</div>
							<div class="soundboard__audio-wrapper js-soundboard-audio-wrapper"></div>
						</a>
					</div>
				</div>
			{{/sounds}}

		</div>
	</div>
{{/sections}}