/*******\
| COINS |
\*******/
.inventory-coins {
	list-style: none;
	margin: 10px 0;

	> li {
		padding: 5px 0 5px 10px;
	}
}

$coin-size: 30px;

.coin {
	position: relative;
	display: inline-block;
	width: $coin-size;
	height: $coin-size;

	border-radius: $coin-size * 0.5;

	margin-right: 10px;
	vertical-align: middle;
}

.coin--platinum {
	border: ($coin-size * 0.2) solid $platinum;
	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		width: $coin-size * 0.4;
		height: $coin-size * 0.4;
		border: ($coin-size * 0.1) solid $platinum;
	}
	&:after {
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
	}
}

.coin--gold {
	border: ($coin-size * 0.2) solid $gold;
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		width: $coin-size * 0.3;
		height: $coin-size * 0.3;
		border: ($coin-size * 0.2) solid $gold;
	}
}

.coin--silver {
	border: ($coin-size * 0.30) solid $silver;
}

.coin--copper {
	background: $copper;
}


/*******\
| ITEMS |
\*******/
.inventory-item {
	position: relative;

	input, textarea, select {
		width: 100%;
	}
}

.inventory-item__heading {
	padding-right: 40px;
}

.inventory-item__remove {
	@include cross(20px);
	width: 20px;
	height: 20px;

	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;

	cursor: pointer;

	&:before,
	&:after {
		position: absolute;
		top: 9px;
		left: 0;
	}
}

.inventory-item__details {
	padding: 20px 40px 0;
}