@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes rotateCentre {
	0% {
		transform: translateX(-50%) translateY(-50%) rotate(0deg);
	}
	100% {
		transform: translateX(-50%) translateY(-50%) rotate(360deg);
	}
}

.is-loading {
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;

		background: rgba($black, 0.2);
		opacity: 0;
		animation: fadeIn forwards 1s 0.5s;
	}

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;

		width: 20px;
		height: 20px;
		border: 4px solid rgba($white, 0.5);
		border-top-color: $white;
		border-radius: 30px;

		opacity: 0;
		animation: rotateCentre 1.1s infinite linear, fadeIn forwards 1s 0.5s;
	}
}