/* line 4, ../scss/helpers/_helpers.scss */
.grid:after, .grid--flush:after, .grid--tight:after, .grid--loose:after, .combat__item:after, .combat__counter:after {
  content: "";
  display: table;
  clear: both;
}

/* line 15, ../scss/helpers/_helpers.scss */
.hidden {
  display: none;
}

/* line 19, ../scss/helpers/_helpers.scss */
.mar-top-0 {
  margin-top: 0;
}

/* line 23, ../scss/helpers/_helpers.scss */
.mar-bot-0 {
  margin-bottom: 0;
}

/* line 1, ../scss/base/_widths.scss */
.width-a {
  width: auto;
}

/* line 4, ../scss/base/_widths.scss */
.width-1 {
  width: 100%;
}

/* line 14, ../scss/base/_widths.scss */
.width-1-2 {
  width: 50%;
}

/* line 14, ../scss/base/_widths.scss */
.width-1-3 {
  width: 33.33333%;
}

/* line 14, ../scss/base/_widths.scss */
.width-2-3 {
  width: 66.66667%;
}

/* line 14, ../scss/base/_widths.scss */
.width-1-4 {
  width: 25%;
}

/* line 14, ../scss/base/_widths.scss */
.width-2-4 {
  width: 50%;
}

/* line 14, ../scss/base/_widths.scss */
.width-3-4 {
  width: 75%;
}

/* line 14, ../scss/base/_widths.scss */
.width-1-5 {
  width: 20%;
}

/* line 14, ../scss/base/_widths.scss */
.width-2-5 {
  width: 40%;
}

/* line 14, ../scss/base/_widths.scss */
.width-3-5 {
  width: 60%;
}

/* line 14, ../scss/base/_widths.scss */
.width-4-5 {
  width: 80%;
}

@media (min-width: 425px) {
  /* line 23, ../scss/base/_widths.scss */
  .width-s-1-2 {
    width: 50%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-s-1-3 {
    width: 33.33333%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-s-2-3 {
    width: 66.66667%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-s-1-4 {
    width: 25%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-s-2-4 {
    width: 50%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-s-3-4 {
    width: 75%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-s-1-5 {
    width: 20%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-s-2-5 {
    width: 40%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-s-3-5 {
    width: 60%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-s-4-5 {
    width: 80%;
  }
}
@media (min-width: 768px) {
  /* line 23, ../scss/base/_widths.scss */
  .width-md-1-2 {
    width: 50%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-md-1-3 {
    width: 33.33333%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-md-2-3 {
    width: 66.66667%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-md-1-4 {
    width: 25%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-md-2-4 {
    width: 50%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-md-3-4 {
    width: 75%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-md-1-5 {
    width: 20%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-md-2-5 {
    width: 40%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-md-3-5 {
    width: 60%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-md-4-5 {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  /* line 23, ../scss/base/_widths.scss */
  .width-l-1-2 {
    width: 50%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-l-1-3 {
    width: 33.33333%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-l-2-3 {
    width: 66.66667%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-l-1-4 {
    width: 25%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-l-2-4 {
    width: 50%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-l-3-4 {
    width: 75%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-l-1-5 {
    width: 20%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-l-2-5 {
    width: 40%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-l-3-5 {
    width: 60%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-l-4-5 {
    width: 80%;
  }
}
@media (min-width: 1440px) {
  /* line 23, ../scss/base/_widths.scss */
  .width-xl-1-2 {
    width: 50%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-xl-1-3 {
    width: 33.33333%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-xl-2-3 {
    width: 66.66667%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-xl-1-4 {
    width: 25%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-xl-2-4 {
    width: 50%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-xl-3-4 {
    width: 75%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-xl-1-5 {
    width: 20%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-xl-2-5 {
    width: 40%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-xl-3-5 {
    width: 60%;
  }

  /* line 23, ../scss/base/_widths.scss */
  .width-xl-4-5 {
    width: 80%;
  }
}
/* line 1, ../scss/base/_reset.scss */
html, body {
  padding: 0;
  margin: 0;
}

/* line 6, ../scss/base/_reset.scss */
* {
  box-sizing: border-box;
  transition: all 0.3s;
}

/* line 11, ../scss/base/_reset.scss */
ul, ol {
  margin: 0;
}

/* line 15, ../scss/base/_reset.scss */
img {
  display: block;
  max-width: 100%;
}

/* line 20, ../scss/base/_reset.scss */
form {
  margin: 0;
}

/**********\
| PALETTES |
\**********/
/************\
| COMPONENTS |
\************/
/* line 3, ../scss/base/_typography.scss */
body {
  font-family: Arial;
  color: #fff;
}

/* line 8, ../scss/base/_typography.scss */
a {
  color: #fff;
}

/* line 12, ../scss/base/_typography.scss */
textarea {
  font-family: Arial;
}

/* line 1, ../scss/base/_layout.scss */
body {
  background: #333;
}

/* line 5, ../scss/base/_layout.scss */
.body {
  padding: 30px 10px;
  max-width: 80%;
  margin: 0 auto;
}

/* line 1, ../scss/base/_form.scss */
input, select, textarea {
  display: inline-block;
  width: 200px;
  max-width: 100%;
  padding: 10px 15px;
}

/* line 8, ../scss/base/_form.scss */
textarea {
  vertical-align: top;
}

/* line 12, ../scss/base/_form.scss */
input[type="radio"], input[type="checkbox"] {
  width: auto;
}

/* line 16, ../scss/base/_form.scss */
input[type="color"] {
  width: 30px;
  height: 30px;
  border: 0;
  padding: 0;
}

/* line 23, ../scss/base/_form.scss */
.form__error {
  color: #f33;
}

/* line 33, ../scss/components/_grid.scss */
.grid {
  padding: 0;
  list-style: none;
  margin-left: -20px;
}
/* line 15, ../scss/components/_grid.scss */
.grid > .grid__item {
  float: left;
  padding-left: 20px;
}

/* line 36, ../scss/components/_grid.scss */
.grid-v {
  padding: 0;
  list-style: none;
  margin-top: -20px;
}
/* line 26, ../scss/components/_grid.scss */
.grid-v > .grid__item {
  padding-top: 20px;
}

/* line 40, ../scss/components/_grid.scss */
.grid--flush {
  padding: 0;
  list-style: none;
  margin-left: 0;
}
/* line 15, ../scss/components/_grid.scss */
.grid--flush > .grid__item {
  float: left;
  padding-left: 0;
}

/* line 43, ../scss/components/_grid.scss */
.grid-v--flush {
  padding: 0;
  list-style: none;
  margin-top: 0;
}
/* line 26, ../scss/components/_grid.scss */
.grid-v--flush > .grid__item {
  padding-top: 0;
}

/* line 40, ../scss/components/_grid.scss */
.grid--tight {
  padding: 0;
  list-style: none;
  margin-left: -10px;
}
/* line 15, ../scss/components/_grid.scss */
.grid--tight > .grid__item {
  float: left;
  padding-left: 10px;
}

/* line 43, ../scss/components/_grid.scss */
.grid-v--tight {
  padding: 0;
  list-style: none;
  margin-top: -10px;
}
/* line 26, ../scss/components/_grid.scss */
.grid-v--tight > .grid__item {
  padding-top: 10px;
}

/* line 40, ../scss/components/_grid.scss */
.grid--loose {
  padding: 0;
  list-style: none;
  margin-left: -40px;
}
/* line 15, ../scss/components/_grid.scss */
.grid--loose > .grid__item {
  float: left;
  padding-left: 40px;
}

/* line 43, ../scss/components/_grid.scss */
.grid-v--loose {
  padding: 0;
  list-style: none;
  margin-top: -40px;
}
/* line 26, ../scss/components/_grid.scss */
.grid-v--loose > .grid__item {
  padding-top: 40px;
}

/* line 50, ../scss/components/_grid.scss */
.grid--rev > .grid__item {
  float: right;
}

/* line 14, ../scss/components/_pod.scss */
.pod {
  padding: 20px;
  background: #666;
}

/* line 18, ../scss/components/_pod.scss */
.pod--tight {
  padding: 10px;
  background: #666;
}

/* line 18, ../scss/components/_pod.scss */
.pod--loose {
  padding: 30px;
  background: #666;
}

/* line 24, ../scss/components/_pod.scss */
.pod--border {
  box-shadow: inset 0 0 0 2px #fff;
}

/* line 1, ../scss/components/_button.scss */
button, .button {
  cursor: pointer;
  border: 0;
  background: #eee;
  color: #333;
  padding: 10px 20px;
  line-height: 15px;
}
/* line 11, ../scss/components/_button.scss */
button:hover, button:focus, button:active, .button:hover, .button:focus, .button:active {
  background: #fff;
}

/* line 1, ../scss/components/_editable.scss */
.editable {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  background: #444;
  color: #fff;
}

/* line 3, ../scss/components/_expandcollapse.scss */
.expand-collapse__heading {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
/* line 2, ../scss/helpers/_shapes.scss */
.expand-collapse__heading:before, .expand-collapse__heading:after {
  content: "";
  width: 20px;
  border-top: 2px solid #fff;
  margin-top: -1px;
  position: absolute;
  left: 0;
  top: 50%;
}
/* line 14, ../scss/helpers/_shapes.scss */
.expand-collapse__heading:after {
  transform: rotate(90deg);
}
/* line 11, ../scss/components/_expandcollapse.scss */
.expand-collapse__heading:before, .expand-collapse__heading:after {
  left: 10px;
  transition: all 0.5s;
}
/* line 18, ../scss/components/_expandcollapse.scss */
.expand-collapse.is-expanded > .expand-collapse__heading:before, .expand-collapse.is-expanded > .expand-collapse__heading:after {
  transform: rotate(180deg);
}

/* line 25, ../scss/components/_expandcollapse.scss */
.expand-collapse__body {
  display: none;
  padding: 0 40px;
}
/* line 30, ../scss/components/_expandcollapse.scss */
.expand-collapse.is-expanded > .expand-collapse__body {
  display: block;
}

/* line 1, ../scss/components/_tooltip.scss */
.tooltip {
  padding: 10px 30px;
  background: #333;
  box-shadow: inset 0 0 0 5px #999;
  color: #fff;
}

/* line 1, ../scss/components/_drag.scss */
.is-dragging {
  transform: scale(1.01) perspective(1000px) rotateX(-5deg);
}

/* line 5, ../scss/components/_drag.scss */
.is-droppable {
  transform: scale(1.01);
}
/* line 7, ../scss/components/_drag.scss */
.is-droppable * {
  pointer-events: none;
}

/* line 1, ../scss/components/_loading.scss */
.is-loading {
  position: relative;
}
/* line 4, ../scss/components/_loading.scss */
.is-loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
}
/* line 16, ../scss/components/_loading.scss */
.is-loading:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-top-color: #fff;
  border-radius: 30px;
  animation: rotateCentre 1.1s infinite linear;
}
@keyframes rotateCentre {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
/* line 1, ../scss/components/_symbols.scss */
.symbol-ara {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid #fff;
  background: #000;
  position: relative;
}
/* line 10, ../scss/components/_symbols.scss */
.symbol-ara:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  border-radius: 50px 0 0 50px;
  background: #fff;
}
/* line 21, ../scss/components/_symbols.scss */
.symbol-ara:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  border-radius: 50px 0 0 50px;
  border-left: 2px solid #fff;
  background: #000;
  transform-origin: 100% 0;
  transform: scaleX(0.6);
}

/* line 38, ../scss/components/_symbols.scss */
.symbol-tyro {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid #fff;
  position: relative;
}
/* line 46, ../scss/components/_symbols.scss */
.symbol-tyro:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 50%;
  border-radius: 50px 50px 0 0;
  background: #000;
}
/* line 58, ../scss/components/_symbols.scss */
.symbol-tyro:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  border-radius: 0 0 50px 50px;
  background: #fff;
}

/* line 72, ../scss/components/_symbols.scss */
.symbol-ilune {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid #fff;
  background: #000;
  position: relative;
}
/* line 81, ../scss/components/_symbols.scss */
.symbol-ilune:before {
  position: absolute;
  content: "";
  top: 14.28571%;
  bottom: 14.28571%;
  left: 14.28571%;
  right: 14.28571%;
  border-radius: 100%;
  border: 1px solid #fff;
  background: #fff;
}

/* line 96, ../scss/components/_symbols.scss */
.symbol-wan {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border-bottom: 50px solid blue;
  background: #fff;
  position: relative;
}
/* line 105, ../scss/components/_symbols.scss */
.symbol-wan:before {
  position: absolute;
  content: "";
  top: 25px;
  height: 50px;
  left: 0;
  right: 50px;
  border-radius: 100%;
  background: blue;
}
/* line 117, ../scss/components/_symbols.scss */
.symbol-wan:after {
  position: absolute;
  content: "";
  top: 25px;
  height: 50px;
  left: 50px;
  right: 0;
  border-radius: 100%;
  background: #fff;
}

/* line 131, ../scss/components/_symbols.scss */
.symbol-thresher {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid #fff;
  background: #000;
  position: relative;
}
/* line 140, ../scss/components/_symbols.scss */
.symbol-thresher:before {
  position: absolute;
  content: "";
  top: 25px;
  height: 50px;
  left: 25px;
  width: 25px;
  border-radius: 50px 0 0 50px;
  background: #fff;
}
/* line 152, ../scss/components/_symbols.scss */
.symbol-thresher:after {
  position: absolute;
  content: "";
  top: 25px;
  height: 48px;
  right: 25px;
  width: 23px;
  border-radius: 0 50px 50px 0;
  border: 1px solid;
  border-right: 1px solid #fff;
  background: #000;
}

/* line 174, ../scss/components/_symbols.scss */
.symbol-jerga {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 20px;
  background: #333;
}

/* line 183, ../scss/components/_symbols.scss */
.symbol-jerga__outline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 5px solid red;
  border-radius: 50px;
}

/* line 195, ../scss/components/_symbols.scss */
.symbol-jerga__break {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  background: #333;
}

/* line 207, ../scss/components/_symbols.scss */
.symbol-jerga__break-top-line:before,
.symbol-jerga__break-top-line:after,
.symbol-jerga__break-bottom-line:before,
.symbol-jerga__break-bottom-line:after {
  content: "";
  position: absolute;
  width: 33px;
  border-top: 5px solid red;
}

/* line 217, ../scss/components/_symbols.scss */
.symbol-jerga__break-top-line:before {
  top: -5px;
  left: 5px;
}

/* line 221, ../scss/components/_symbols.scss */
.symbol-jerga__break-top-line:after {
  top: -5px;
  right: 5px;
}

/* line 226, ../scss/components/_symbols.scss */
.symbol-jerga__break-bottom-line:before {
  bottom: -5px;
  left: 5px;
}

/* line 230, ../scss/components/_symbols.scss */
.symbol-jerga__break-bottom-line:after {
  bottom: -5px;
  right: 5px;
}

/* line 236, ../scss/components/_symbols.scss */
.symbol-jerga__vert-top:before,
.symbol-jerga__vert-top:after,
.symbol-jerga__vert-bottom:before,
.symbol-jerga__vert-bottom:after {
  content: "";
  position: absolute;
  height: 20px;
  border-left: 5px solid red;
}

/* line 246, ../scss/components/_symbols.scss */
.symbol-jerga__vert-top:before {
  top: 20px;
  left: 38px;
}

/* line 250, ../scss/components/_symbols.scss */
.symbol-jerga__vert-top:after {
  top: 20px;
  right: 38px;
}

/* line 255, ../scss/components/_symbols.scss */
.symbol-jerga__vert-bottom:before {
  bottom: 20px;
  left: 38px;
}

/* line 259, ../scss/components/_symbols.scss */
.symbol-jerga__vert-bottom:after {
  bottom: 20px;
  right: 38px;
}

/* line 265, ../scss/components/_symbols.scss */
.symbol-jerga__curl-top:before,
.symbol-jerga__curl-top:after,
.symbol-jerga__curl-bottom:before,
.symbol-jerga__curl-bottom:after {
  content: "";
  position: absolute;
  width: 10px;
  border-top: 5px solid red;
}

/* line 275, ../scss/components/_symbols.scss */
.symbol-jerga__curl-top:before {
  top: 20px;
  left: 30px;
}

/* line 279, ../scss/components/_symbols.scss */
.symbol-jerga__curl-top:after {
  top: 20px;
  right: 30px;
}

/* line 284, ../scss/components/_symbols.scss */
.symbol-jerga__curl-bottom:before {
  bottom: 20px;
  left: 30px;
}

/* line 288, ../scss/components/_symbols.scss */
.symbol-jerga__curl-bottom:after {
  bottom: 20px;
  right: 30px;
}

/* line 1, ../scss/components/_flags.scss */
.flag-toridal, .flag-nur-hal, .flag-oyado {
  width: 250px;
  height: 150px;
  border: 1px solid #000;
  position: relative;
}

/* line 8, ../scss/components/_flags.scss */
.flag-toridal {
  background: #2ca32c;
}
/* line 13, ../scss/components/_flags.scss */
.flag-toridal:before, .flag-toridal:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* line 20, ../scss/components/_flags.scss */
.flag-toridal:before {
  bottom: 50px;
  display: block;
  width: 0;
  height: 0;
  border-bottom: 50px solid #ffce25;
  border-left: 28.86836px solid transparent;
  border-right: 28.86836px solid transparent;
}
/* line 25, ../scss/components/_flags.scss */
.flag-toridal:after {
  bottom: 34px;
  display: block;
  width: 0;
  height: 0;
  border-top: 16.66667px solid #20c;
  border-left: 9.62279px solid transparent;
  border-right: 9.62279px solid transparent;
}

/* line 33, ../scss/components/_flags.scss */
.flag-nur-hal {
  background: #333;
}
/* line 38, ../scss/components/_flags.scss */
.flag-nur-hal:before {
  content: "";
  position: absolute;
  top: -16.666%;
  bottom: 100%;
  left: 0;
  right: 50%;
  box-shadow: 0 25px 0 0 #f00, 125px 50px 0 0 #f00, 0 75px 0 0 #f00;
}

/* line 56, ../scss/components/_flags.scss */
.flag-oyado {
  background: #f90;
}
/* line 61, ../scss/components/_flags.scss */
.flag-oyado:before, .flag-oyado:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50px;
  height: 50px;
}
/* line 71, ../scss/components/_flags.scss */
.flag-oyado:before {
  border-radius: 50px 50px 50px 50px;
  background: #fff;
  top: calc(50% - 33.333px);
}
/* line 78, ../scss/components/_flags.scss */
.flag-oyado:after {
  border-radius: 50px 50px 50px 50px;
  background: #000;
  top: calc(50% + 33.333px);
}

/* line 1, ../scss/components/_calendar.scss */
.calendar {
  width: 100%;
  position: relative;
  text-align: center;
}

/* line 8, ../scss/components/_calendar.scss */
.calendar__month {
  padding: 10px;
}
/* line 11, ../scss/components/_calendar.scss */
.calendar__month table {
  width: 100%;
  text-align: center;
  color: #000;
}
/* line 17, ../scss/components/_calendar.scss */
.calendar__month caption {
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 23, ../scss/components/_calendar.scss */
.calendar__month td.is-current {
  background: #fff;
}
/* line 27, ../scss/components/_calendar.scss */
.calendar__month td .calendar__day-events {
  display: none;
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  transform: translateY(-50%);
  text-align: left;
  font-weight: normal;
  cursor: default;
}
/* line 42, ../scss/components/_calendar.scss */
.calendar__month td[tabindex] {
  cursor: pointer;
  font-weight: bold;
}
/* line 47, ../scss/components/_calendar.scss */
.calendar__month td:focus {
  outline: none;
  background: #fff;
}
/* line 51, ../scss/components/_calendar.scss */
.calendar__month td:focus .calendar__day-events {
  display: block;
}

/* line 58, ../scss/components/_calendar.scss */
.calendar__month--spring {
  background: #ffb9f9;
}

/* line 61, ../scss/components/_calendar.scss */
.calendar__month--summer {
  background: #ffe64b;
}

/* line 64, ../scss/components/_calendar.scss */
.calendar__month--autumn {
  background: #ffa94b;
}

/* line 67, ../scss/components/_calendar.scss */
.calendar__month--winter {
  background: #9bf3ff;
}

/* line 1, ../scss/components/_line-map.scss */
.line-map {
  list-style: none;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  background: #666;
}
/* line 10, ../scss/components/_line-map.scss */
.line-map > :first-child {
  margin-top: 0;
}
/* line 13, ../scss/components/_line-map.scss */
.line-map > :last-child {
  margin-bottom: 0;
}

/* line 18, ../scss/components/_line-map.scss */
.line-map__terrain {
  width: 100px;
  padding: 20px;
  margin: 0 auto;
  background: #333;
  position: relative;
}
/* line 26, ../scss/components/_line-map.scss */
.line-map__terrain:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -5px;
  margin-left: -5px;
  width: 10px;
  height: 10px;
  background: #000;
}

/* line 40, ../scss/components/_line-map.scss */
.line-map__terrain--small:after {
  display: none;
}

/* line 45, ../scss/components/_line-map.scss */
.line-map__terrain--ocean {
  background: #2266aa;
}

/* line 46, ../scss/components/_line-map.scss */
.line-map__terrain--desert {
  background: #ffe64b;
}

/* line 47, ../scss/components/_line-map.scss */
.line-map__terrain--jungle {
  background: #114400;
}

/* line 48, ../scss/components/_line-map.scss */
.line-map__terrain--grass {
  background: #77aa33;
}

/* line 49, ../scss/components/_line-map.scss */
.line-map__terrain--river {
  position: relative;
}
/* line 51, ../scss/components/_line-map.scss */
.line-map__terrain--river:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 33%;
  right: 33%;
  background: #2266aa;
}

/* line 64, ../scss/components/_line-map.scss */
.line-map__location {
  padding: 20px 50px;
  margin: 0;
  background: #333;
}

/* line 70, ../scss/components/_line-map.scss */
.line-map__branch {
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  position: relative;
}
/* line 78, ../scss/components/_line-map.scss */
.line-map__branch:before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 18px;
  height: 68px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
/* line 91, ../scss/components/_line-map.scss */
.line-map__branch:after {
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: "";
  position: absolute;
  left: 50px;
  top: 64px;
}
/* line 100, ../scss/components/_line-map.scss */
.line-map__branch .line-map__location {
  margin-left: 70px;
  margin-right: 70px;
}

/*****************\
| INITIATIVE FORM |
\*****************/
/* line 5, ../scss/components/_combat.scss */
.combat__form {
  margin: 20px 0;
}

/****************************\
| INITIATIVE GLOBAL CONTROLS |
\****************************/
/* line 14, ../scss/components/_combat.scss */
.combat__global-controls {
  position: fixed;
  z-index: 1;
  top: 55px;
  transform: translateY(-50%);
  right: 20px;
  height: 75px;
  width: 200px;
}

/*****************\
| INITIATIVE LIST |
\*****************/
/* line 30, ../scss/components/_combat.scss */
.combat__item {
  margin-left: 45px;
  position: relative;
}
/* line 37, ../scss/components/_combat.scss */
.combat__item[data-binder-attribute-team="enemy"] {
  box-shadow: inset 0 0 0 5px #f66;
}
/* line 40, ../scss/components/_combat.scss */
.combat__item[data-binder-attribute-team="player"] {
  box-shadow: inset 0 0 0 5px #66f;
}
/* line 43, ../scss/components/_combat.scss */
.combat__item[data-binder-attribute-team="ally"] {
  box-shadow: inset 0 0 0 5px #6f6;
}
/* line 47, ../scss/components/_combat.scss */
.combat__item[data-binder-attribute-cursor="true"] {
  box-shadow: inset 0 0 0 5px #f90;
}

/*********************\
| INITIATIVE CONTROLS |
\*********************/
/* line 57, ../scss/components/_combat.scss */
.combat__current {
  position: absolute;
  top: 10px;
  left: -45px;
  height: 0;
  width: 0;
  border-left: 20px solid #222;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  cursor: pointer;
}
/* line 72, ../scss/components/_combat.scss */
[data-binder-attribute-current="true"] .combat__current {
  border-left-color: #fff;
}

/* line 77, ../scss/components/_combat.scss */
.combat__remove {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
/* line 2, ../scss/helpers/_shapes.scss */
.combat__remove:before, .combat__remove:after {
  content: "";
  width: 20px;
  border-top: 2px solid #fff;
  margin-top: -1px;
  position: absolute;
  left: 0;
  top: 50%;
}
/* line 14, ../scss/helpers/_shapes.scss */
.combat__remove:after {
  transform: rotate(90deg);
}
/* line 22, ../scss/helpers/_shapes.scss */
.combat__remove:before {
  transform: rotate(-45deg);
}
/* line 25, ../scss/helpers/_shapes.scss */
.combat__remove:after {
  transform: rotate(45deg);
}
/* line 88, ../scss/components/_combat.scss */
.combat__remove:before, .combat__remove:after {
  position: absolute;
  top: 9px;
  left: 0;
}

/* line 96, ../scss/components/_combat.scss */
.combat__up,
.combat__down {
  position: absolute;
  left: 13px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
/* line 106, ../scss/components/_combat.scss */
.combat__up:before, .combat__up:after,
.combat__down:before,
.combat__down:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

/* line 115, ../scss/components/_combat.scss */
.combat__up {
  top: 10px;
}
/* line 117, ../scss/components/_combat.scss */
.combat__up:before {
  display: block;
  width: 0;
  height: 0;
  border-bottom: 10px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

/* line 121, ../scss/components/_combat.scss */
.combat__down {
  top: 25px;
}
/* line 123, ../scss/components/_combat.scss */
.combat__down:before {
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

/********************\
| INITIATIVE DETAILS |
\********************/
/* line 133, ../scss/components/_combat.scss */
.combat__name {
  margin-top: 0;
}

/* line 138, ../scss/components/_combat.scss */
.combat__health label, .combat__health input {
  display: inline;
}

/* line 143, ../scss/components/_combat.scss */
.combat__health-current {
  width: 60px;
}

/* line 147, ../scss/components/_combat.scss */
.combat__notes {
  display: block;
  min-height: 90px;
}

/********************\
| INITIATIVE COUNTER |
\********************/
/* line 157, ../scss/components/_combat.scss */
.combat__counter {
  position: relative;
  margin-top: 20px;
  padding-left: 30px;
}

/* line 165, ../scss/components/_combat.scss */
.combat__counter-remove {
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* line 2, ../scss/helpers/_shapes.scss */
.combat__counter-remove:before, .combat__counter-remove:after {
  content: "";
  width: 20px;
  border-top: 2px solid #fff;
  margin-top: -1px;
  position: absolute;
  left: 0;
  top: 50%;
}
/* line 14, ../scss/helpers/_shapes.scss */
.combat__counter-remove:after {
  transform: rotate(90deg);
}
/* line 22, ../scss/helpers/_shapes.scss */
.combat__counter-remove:before {
  transform: rotate(-45deg);
}
/* line 25, ../scss/helpers/_shapes.scss */
.combat__counter-remove:after {
  transform: rotate(45deg);
}
/* line 177, ../scss/components/_combat.scss */
.combat__counter-remove:before, .combat__counter-remove:after {
  position: absolute;
  top: 9px;
  right: 0;
}

/* line 185, ../scss/components/_combat.scss */
.combat__counter-duration {
  float: left;
  width: 65px;
  margin-right: 10px;
  font-size: 18px;
}

/* line 193, ../scss/components/_combat.scss */
.combat__counter-details {
  overflow: hidden;
}

/* line 197, ../scss/components/_combat.scss */
.combat__counter-name {
  font-weight: bold;
}

/* line 201, ../scss/components/_combat.scss */
.combat__counter-description {
  display: block;
  margin-top: 5px;
}

/*******\
| FIELD |
\*******/
/* line 210, ../scss/components/_combat.scss */
.combat__field {
  position: relative;
  margin-top: 20px;
}

/* line 215, ../scss/components/_combat.scss */
.combat__field-canvas {
  background: #000;
}

/* line 219, ../scss/components/_combat.scss */
.combat__field-controls {
  position: absolute;
  top: 10px;
  right: 20px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 60px;
  height: 120px;
}

/* line 230, ../scss/components/_combat.scss */
.combat__field-control--up {
  display: block;
  width: 0;
  height: 0;
  border-bottom: 10px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: 10px;
  right: 25px;
}

/* line 237, ../scss/components/_combat.scss */
.combat__field-control--down {
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: 40px;
  right: 25px;
}

/* line 244, ../scss/components/_combat.scss */
.combat__field-control--left {
  display: block;
  width: 0;
  height: 0;
  border-right: 10px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 25px;
  right: 40px;
}

/* line 251, ../scss/components/_combat.scss */
.combat__field-control--right {
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 25px;
  right: 10px;
}

/* line 258, ../scss/components/_combat.scss */
.combat__field-control--centre {
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  right: 25px;
}

/* line 270, ../scss/components/_combat.scss */
.combat__field-control--zoom-in {
  display: inline-block;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 20px;
  height: 20px;
}
/* line 2, ../scss/helpers/_shapes.scss */
.combat__field-control--zoom-in:before, .combat__field-control--zoom-in:after {
  content: "";
  width: 20px;
  border-top: 4px solid #fff;
  margin-top: -2px;
  position: absolute;
  left: 0;
  top: 50%;
}
/* line 14, ../scss/helpers/_shapes.scss */
.combat__field-control--zoom-in:after {
  transform: rotate(90deg);
}

/* line 282, ../scss/components/_combat.scss */
.combat__field-control--zoom-out {
  display: inline-block;
  position: absolute;
  top: 90px;
  right: 20px;
  width: 20px;
  height: 20px;
}
/* line 2, ../scss/helpers/_shapes.scss */
.combat__field-control--zoom-out:before, .combat__field-control--zoom-out:after {
  content: "";
  width: 20px;
  border-top: 4px solid #fff;
  margin-top: -2px;
  position: absolute;
  left: 0;
  top: 50%;
}
/* line 14, ../scss/helpers/_shapes.scss */
.combat__field-control--zoom-out:after {
  transform: rotate(90deg);
}
/* line 284, ../scss/components/_combat.scss */
.combat__field-control--zoom-out:after {
  display: none;
}

/* line 1, ../scss/components/_charcards.scss */
.char-card {
  border: 5px solid gold;
}

/* line 8, ../scss/components/_charcards.scss */
.char-card__portrait {
  background: #666;
  width: 400px;
  height: 400px;
}

/*******\
| COINS |
\*******/
/* line 4, ../scss/components/_inventory.scss */
.inventory-coins {
  list-style: none;
  margin: 10px 0;
}
/* line 8, ../scss/components/_inventory.scss */
.inventory-coins > li {
  padding: 5px 0 5px 10px;
}

/* line 15, ../scss/components/_inventory.scss */
.coin {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
  vertical-align: middle;
}

/* line 27, ../scss/components/_inventory.scss */
.coin--platinum {
  border: 6px solid #ddddff;
}
/* line 29, ../scss/components/_inventory.scss */
.coin--platinum:before, .coin--platinum:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 12px;
  height: 12px;
  border: 3px solid #ddddff;
}
/* line 41, ../scss/components/_inventory.scss */
.coin--platinum:after {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

/* line 46, ../scss/components/_inventory.scss */
.coin--gold {
  border: 6px solid #ffaa33;
}
/* line 48, ../scss/components/_inventory.scss */
.coin--gold:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 9px;
  height: 9px;
  border: 6px solid #ffaa33;
}

/* line 61, ../scss/components/_inventory.scss */
.coin--silver {
  border: 9px solid #999999;
}

/* line 65, ../scss/components/_inventory.scss */
.coin--copper {
  background: #cc6633;
}

/*******\
| ITEMS |
\*******/
/* line 73, ../scss/components/_inventory.scss */
.inventory-item {
  position: relative;
}
/* line 76, ../scss/components/_inventory.scss */
.inventory-item input, .inventory-item textarea, .inventory-item select {
  width: 100%;
}

/* line 81, ../scss/components/_inventory.scss */
.inventory-item__heading {
  padding-right: 40px;
}

/* line 85, ../scss/components/_inventory.scss */
.inventory-item__remove {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}
/* line 2, ../scss/helpers/_shapes.scss */
.inventory-item__remove:before, .inventory-item__remove:after {
  content: "";
  width: 20px;
  border-top: 2px solid #fff;
  margin-top: -1px;
  position: absolute;
  left: 0;
  top: 50%;
}
/* line 14, ../scss/helpers/_shapes.scss */
.inventory-item__remove:after {
  transform: rotate(90deg);
}
/* line 22, ../scss/helpers/_shapes.scss */
.inventory-item__remove:before {
  transform: rotate(-45deg);
}
/* line 25, ../scss/helpers/_shapes.scss */
.inventory-item__remove:after {
  transform: rotate(45deg);
}
/* line 97, ../scss/components/_inventory.scss */
.inventory-item__remove:before, .inventory-item__remove:after {
  position: absolute;
  top: 9px;
  left: 0;
}

/* line 105, ../scss/components/_inventory.scss */
.inventory-item__details {
  padding: 20px 40px 0;
}

/* line 1, ../scss/components/_cartographer.scss */
.cartographer__container {
  max-width: 100%;
  max-height: 1000px;
  overflow: auto;
}

/* line 1, ../scss/components/_image-display.scss */
.image-display {
  width: 100%;
  height: 100%;
  background: #000 no-repeat center;
  background-size: contain;
  position: relative;
}

/* line 11, ../scss/components/_image-display.scss */
.image-control-wrap {
  cursor: pointer;
  position: relative;
}
/* line 16, ../scss/components/_image-display.scss */
.image-control-wrap.is-selected:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #77aa33;
  border: 5px solid #ffe64b;
}

/* line 32, ../scss/components/_image-display.scss */
.image-control {
  display: block;
  width: 100%;
}
