.calendar {
	width: 100%;
	position: relative;

	text-align: center;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	list-style: none;
	margin: 0;
	padding: 0;
}

.calendar__year {
	margin-top: 40px;
	&:first-child {
		margin-top: 0;
	}
}

.calendar__year-num {
	color: $white;
}

.calendar__month {
	flex: 0 1 calc(#{percentage(1/3)} - 6px);
	margin-bottom: 9px;
	min-height: 110px;

	padding: 10px;
	text-align: center;
	color: $calendar-color;
}

.calendar__month--spring {
	background: $spring;
}
.calendar__month--summer {
	background: $summer;
}
.calendar__month--autumn {
	background: $autumn;
}
.calendar__month--winter {
	background: $winter;
}

.calendar__month-name {
	font-weight: bold;
	margin-bottom: 10px;
}

.calendar__month-days {
	display: flex;
	flex-wrap: wrap;

	list-style: none;
	padding: 0;
	margin: 0;

	counter-reset: day;
}

.calendar__month-day {
	flex: 0 1 percentage(1/7);
	color: rgba($black, 0.6);

	&:before {
		counter-increment: day;
		content: counter(day);
	}

	&.is-current {
		background: $calendar-background--current;
	}

	&[tabindex] {
		cursor: pointer;
		color: $black;
		font-weight: bold;
	}

	&:focus,
	&:focus-within {
		outline: none;
		background: $calendar-background--active;

		.calendar__day-events {
			display: block;
		}
	}
}

.calendar__day-events {
	display: none;

	position: absolute;
	top: 50%;
	left: 10px;
	right: 10px;

	transform: translateY(-50%);

	text-align: left;
	font-weight: normal;
	cursor: default;
}