/*****************\
| INITIATIVE FORM |
\*****************/

.combat__form {
	margin: 20px 0;
}


/****************************\
| INITIATIVE GLOBAL CONTROLS |
\****************************/

.combat__global-controls {
	position: fixed;
	z-index: 1;
	top: 55px;
	transform: translateY(-50%);
	right: 20px;

	height: 75px;
	width: 200px;
}


/*****************\
| INITIATIVE LIST |
\*****************/

.combat__item {
	@extend %cf;

	margin-left: 45px;

	position: relative;

	&[data-binder-attribute-team="enemy"] {
		@include border-inset(5px, $enemy);
	}
	&[data-binder-attribute-team="player"] {
		@include border-inset(5px, $player);
	}
	&[data-binder-attribute-team="ally"] {
		@include border-inset(5px, $ally);
	}

	&[data-binder-attribute-cursor="true"] {
		@include border-inset(5px, #f90);
	}
}


/*********************\
| INITIATIVE CONTROLS |
\*********************/

.combat__current {
	position: absolute;

	top: 10px;
	left: -45px;

	height: 0;
	width: 0;

	border-left: 20px solid $initiative-control-colour--inactive;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

	cursor: pointer;

	[data-binder-attribute-current="true"] & {
		border-left-color: $initiative-control-colour;
	}
}

.combat__remove {
	@include cross(20px);
	width: 20px;
	height: 20px;

	position: absolute;
	top: 10px;
	right: 10px;

	cursor: pointer;

	&:before,
	&:after {
		position: absolute;
		top: 9px;
		left: 0;
	}
}

.combat__up,
.combat__down {
	position: absolute;
	left: 13px;

	width: 10px;
	height: 10px;

	cursor: pointer;

	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
	}
}

.combat__up {
	top: 10px;
	&:before {
		@include triangle(up, 10px, $initiative-control-colour, 5px);
	}
}
.combat__down {
	top: 25px;
	&:before {
		@include triangle(down, 10px, $initiative-control-colour, 5px);
	}
}


/********************\
| INITIATIVE DETAILS |
\********************/

.combat__name {
	margin-top: 0;
}

.combat__health {
	label, input {
		display: inline;
	}
}

.combat__health-current {
	width: 60px;
}

.combat__notes {
	display: block;
	min-height: 90px;
}


/********************\
| INITIATIVE COUNTER |
\********************/

.combat__counter {
	@extend %cf;

	position: relative;
	margin-top: 20px;
	padding-left: 30px;
}

.combat__counter-remove {
	position: absolute;
	top: 5px;
	left: 0;

	width: 20px;
	height: 20px;

	cursor: pointer;

	@include cross(20px);

	&:before,
	&:after {
		position: absolute;
		top: 9px;
		right: 0;
	}
}

.combat__counter-duration {
	float: left;
	width: 65px;
	margin-right: 10px;

	font-size: 18px;
}

.combat__counter-details {
	overflow: hidden;
}

.combat__counter-name {
	font-weight: bold;
}

.combat__counter-description {
	display: block;
	margin-top: 5px;
}

/*******\
| FIELD |
\*******/

.combat__field {
	position: relative;
	margin-top: 20px;
}

.combat__field-canvas {
	background: $black;
}

.combat__field-controls {
	position: absolute;
	top: 10px;
	right: 20px;

	background: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	width: 60px;
	height: 120px;
}

.combat__field-control--up {
	@include triangle(up, 10px, $white, 5px);

	position: absolute;
	top: 10px;
	right: 25px;
}
.combat__field-control--down {
	@include triangle(down, 10px, $white, 5px);

	position: absolute;
	top: 40px;
	right: 25px;
}
.combat__field-control--left {
	@include triangle(left, 10px, $white, 5px);

	position: absolute;
	top: 25px;
	right: 40px;
}
.combat__field-control--right {
	@include triangle(right, 10px, $white, 5px);

	position: absolute;
	top: 25px;
	right: 10px;
}
.combat__field-control--centre {
	display: block;
	width: 10px;
	height: 10px;
	background: $white;
	border-radius: 100%;

	position: absolute;
	top: 25px;
	right: 25px;
}

.combat__field-control--zoom-in {
	@include plus(20px, $white, 4px);

	display: inline-block;
	position: absolute;
	top: 60px;
	right: 20px;

	width: 20px;
	height: 20px;
}

.combat__field-control--zoom-out {
	@include plus(20px, $white, 4px);
	&:after {
		display: none;
	}

	display: inline-block;
	position: absolute;
	top: 90px;
	right: 20px;

	width: 20px;
	height: 20px;
}