.expand-collapse {}

.expand-collapse__heading {
	position: relative;
	padding-left: 40px;

	cursor: pointer;

	@include plus(20px);

	&:before,
	&:after {
		left: 10px;
		transition: all 0.5s;
	}

	.expand-collapse.is-expanded > & {
		&:before,
		&:after {
			transform: rotate(180deg);
		}
	}
}

.expand-collapse__body {
	display: none;

	.expand-collapse.is-expanded & {
		display: block;
	}
}