.fake-input {
	input {
		position: absolute;
		width: 0;
		height: 0;
		overflow: hidden;
	}
}

.fake-input__display {
	padding: 4px;
	border: 1px solid transparent;

	&:hover {
		cursor: pointer;
		background: $grey;
	}

	input:checked + & {
		border-color: $white;
		background: $grey;
	}
	input:focus + & {
		background: $grey--light;
	}
}