$grid-config: (
	null: 20px,
	flush: 0,
	tight: 10px,
	loose: 40px
);

@mixin grid($gutter) {
	@extend %cf;

	padding: 0;
	list-style: none;

	margin-left: -$gutter;
	margin-top: -$gutter;
	> .grid__item {
		float: left;
		padding-left: $gutter;
		padding-top: $gutter;
	}
}

@mixin grid-f($gutter) {
	padding: 0;
	list-style: none;

	display: flex;
	flex-wrap: wrap;
	margin-left: -$gutter;
	margin-top: -$gutter;
	> .grid__item {
		padding-left: $gutter;
		padding-top: $gutter;
	}
}

@each $variant, $gutter in $grid-config {
	@if $variant == null {
		.grid {
			@include grid($gutter);
		}
		.grid-f {
			@include grid-f($gutter);
		}
	} @else {
		.grid--#{$variant} {
			@include grid($gutter);
		}
		.grid-f--#{$variant} {
			@include grid-f($gutter);
		}
	}
}

.grid--rev {
	> .grid__item {
		float: right;
	}
}